node_modules
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build directory
dist
build

# Prisma
/prisma/migrations/*/migration.sql
!/prisma/migrations/migration_lock.toml
